/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

/*
  List View styles
*/
ol {
  list-style-type: none;
  padding: 0;
}
li {
  display: flex;
  align-items: center;

  border-bottom: 1px solid #aaa;
  transition: background-color 0.5s ease-out;
}
li.activateable {
  cursor: pointer;
}
li.error {
  /* Complementary 200: https://material.io/design/color/the-color-system.html */
  background-color: #dc8e8e;
}
/* The list item should be tappable; 44px high */
li > * {
  line-height: 44px;
  height: 44px;
}
/* Leading item should be tappable; 44px wide */
li > :first-child:not(:last-child) {
  width: 44px;
}

/*
  Overall styles
*/
body {
  /* Teal 500: https://material.io/design/color/the-color-system.html */
  --background-color: #009688;
  /* https://css-tricks.com/snippets/css/system-font-stack/ */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
a {
  color: inherit;
  text-decoration: none;
}
input[type=submit] {
  cursor: pointer;
  min-width: 44px;
  padding: 1rem;
}

/*
  Layout
*/
#root {
  display: grid;
  grid-template-rows: 44px auto 44px;
  height: 100%;
}
header {
  display: grid;
  grid-template-columns: 44px auto 44px;
}
header > * {
  place-self: center;
  text-align: center;
}
h1 {
  grid-column: 2;
}
main {
  display: grid;
}
footer {
  display: grid;
}
footer > * {
  place-self: center;
}

/*
  Header / title bar styles
*/
header {
  background-color: var(--background-color);
  color: white;
  text-align: center;
}
h1 {
  font-weight: normal;
  font-size: 24px;
}
header > a {
  font-size: 1.5rem;
  width: 100%;
  height: 100%;
}

/*
  Chores styles
*/
/* Chore list */
li > .leading {
  /* Teal 500: https://material.io/design/color/the-color-system.html */
  /* https://stackoverflow.com/a/53336754/155937 */
  filter: invert(50%) sepia(62%) saturate(6786%) hue-rotate(154deg) brightness(94%) contrast(104%);

  display: flex;
  align-items: center;
  justify-content: center;
}
/* New chore */
form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
form > * {
  padding: 1rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
}
form > *:not(:last-child) {
  border-bottom: 1px solid #aaa;
}
input {
  min-width: 50%;
}
/* Save, cancel buttons */
input[type=submit] {
  padding: 0;
  width: 100%;
  height: 44px;
  line-height: 44px;

  /* Teal 200: https://material.io/design/color/the-color-system.html */
  background: #80CBC4;
  border: none;
  box-shadow: none;
}
form a {
  place-self: center;
  text-align: center;
  width: 100%;
  line-height: 44px;

  /* Teal 200: https://material.io/design/color/the-color-system.html */
  background: #80CBC4;
}

/*
  Footer / nav bar styles
*/
footer {
  padding: 0 1rem;
}
